.titulo__p {
    font-size: 2rem;
}
.titulo__m {
    font-size: 2.8rem;
}
.titulo__g {
    font-size: 4rem;
}


.texto__p {
    font-size: .8rem;
}
.texto__m {
    font-size: 1.2rem;
}
.texto__g {
    font-size: 1.6rem;
}






